body{
    text-align: center;
    margin: 0;
    color: #333;
}
/*top関係*/
.top h1 {
    letter-spacing: 5px;
    background-color: #eeeeeebb;
}
.top .visible-xs{
    font-size: 45px !important; 
}
/*main関係*/
main{
    background-color:#fff;
    padding-bottom: 25px;
}
main h2{
    padding-top: 20px;
}
main img{
    height: 300px;
}
.about{
    padding:10px 0 ;
}
.about table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 20px;
}
.dou{
    text-align: center !important;
}
#ProN{
    padding-top: 50px;
}
#proN{
    padding-top: 50px;
}
.projectN{
    display: flex;
    justify-content: space-around;
}
.projectN td{
    border: solid 1px black;
    padding: 3px 5px;
}
/*footer関係*/
footer{
    background-color: #eeeeee;
    text-align: center;
}
/*popup表示させたいコンテンツのレイアウトと位置*/
#popup{
    color: #eeeeee;
    width:80%;
    line-height:100px;
    background-size: cover;
    background-color: #222222ee;
    padding:10px 10px;
    box-sizing:border-box;
    display:none;
    position:fixed;
    border-radius: 15px;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#popup p{
    line-height: normal;
    color: #eeeeee;
}
#popup h2{
    color: #eeeeee;
}
/*ボタンの位置*/
label{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
label span:hover{
    cursor:pointer;
}
input[type="checkbox"]{
    display:none;
}
/*checkboxがcheckの状態になったらpopupを表示させる*/
input[type="checkbox"]:checked + #popup{
    display:block;
}
.visible-xs img{
    width: 100%;
    height: auto;
}
.hidden-xs img{
    width: 100%;
    height: auto;
}
.col3 {
    display: flex;
}
.col3 li{
    color: #eeeeee;
    width: calc(100% / 2);
    font-size: 20px;
    list-style-type:none;
    padding: 10px;
}
.wide{
    display: flex;
}
.wide li{
    color: black;
    width: calc(100% / 2);
    list-style-type:none;
}
footer{
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
}
.line{
    width: 90%;
    border: solid 1px !important;
}
.blue-line{
    background-color: #7BC3D1;
}
.uncomp{
    filter: grayscale(90%);
}
